<div>
  <p>
    <button onclick("increment")>+</button>
    <button onclick("decrement")>-</button>
    <!-- <button on-click("incrementIfOdd")>Increment if odd</button>
    <button on-click("incrementAsync")>Increment async</button> -->
  </p>
</div>
