import store from '../store'
import { increment, decrement } from '../reducers/index.js'

<div>
  <app-value />
  <counter
    on-increment("dispatch", increment)
    on-decrement("dispatch", decrement)
  />
</div>
